<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Native Hawaiian Flowers Field Guide</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Native Flowers!</h1>

    <h2>Search for a plant</h2>

    <input type="text">
    <button id="search">Search database</button>
    <ul class="plants">
        <li><span>Name: </span><span id="plantName"></span></li>
        <!-- <li><span><%= info[0].common_name %></span></li>
        <li><span><%= info[0].scientific_name %></span></li>
        <li><span><%= info[0].family_name %></span></li>
        <li><span><%= info[0].use %></span></li>
        <li><span><%= info[0].description %></span></li>
        <img src="<%= info[0].image %>" alt=""> -->
    </ul>

    <script src="/main.js"></script>
</body>
</html>