<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Native Hawaiian Flowers Field Guide</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>Native Flowers!</h1>

    <ul class="plants">
        <% for(let i=0; i < info.length; i++) {%>
            <li><span><%= info[i].name %></span></li>
            <li><span><%= info[i].common_name %></span></li>
            <li><span><%= info[i].scientific_name %></span></li>
            <li><span><%= info[i].family_name %></span></li>
            <li><span><%= info[i].use %></span></li>
            <li><span><%= info[i].description %></span></li>
            <img src="<%= info[i].image %>" alt="">
        <% } %>
    </ul>

    <script src="/public/main.js"></script>
</body>
</html>